@tailwind base;
@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}
.pj-border-bottom {
  border-bottom: 1px solid #a4a4a4;
}
.pj-border-top {
  border-top: 1px solid #a4a4a4;
}
.pj-category-border-color {
  border-color: #a4a4a4;
}
.pj-background-color {
  background-color: #fff8ee;
}

.pj-category-active {
  border-radius: 50%;
  background: linear-gradient(to right, #f12711, #f5af19);
  animation: 3s linear infinite rotation1;
}
.pj-category-active > div {
  animation: 3s linear infinite rotation1;
  animation-direction: reverse;
}
@keyframes rotation1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #252525;
}
@tailwind utilities;
