@tailwind base;
@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}
.pj-border-bottom {
  border-bottom: 1px solid #a4a4a4;
}
.pj-border-top {
  border-top: 1px solid #a4a4a4;
}
.pj-category-border-color {
  border-color: #a4a4a4;
}
.pj-background-color {
  background-color: #fff8ee;
}

html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #252525;
}
@tailwind utilities;
