@tailwind base;
@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}
.pj-border-bottom {
  border-bottom: 1px solid #a4a4a4;
}
.pj-border-top {
  border-top: 1px solid #a4a4a4;
}
.pj-category-border-color {
  border-color: #a4a4a4;
}
.pj-background-color {
  background-color: #fff8ee;
  min-height: 100vh;
}

.pj-category-active {
  border-radius: 50%;
  background: linear-gradient(to right, #f12711, #f5af19);
  animation: 3s linear infinite rotation1;
}
.pj-category-active > div {
  animation: 3s linear infinite rotation1;
  animation-direction: reverse;
}
@keyframes rotation1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #001240;
}

.pj-recipe-content h2 {
  @apply text-lg font-bold py-2 mt-6 mb-3 pl-1 border-orange-500 border-l-4;
}
.pj-recipe-content h3 {
  @apply text-lg font-bold py-1 mt-3 mb-1 pl-1 border-orange-500 border-l-2 mx-2;
}
.pj-recipe-content p {
  @apply px-2 mx-auto my-4;
}
.pj-recipe-content ul {
  @apply bg-white px-2  py-4 rounded-lg text-sm my-4;
}
.pj-recipe-content li {
  @apply my-2;
}
.pj-recipe-content li::before {
  @apply w-3 h-3 bg-orange-500 rounded-full inline-block align-middle mr-1;
  content: "";
}

@tailwind utilities;
